<h1> Edit the root of evil that is a cat! </h1>
<%= simple_form_for @cat do |form| %>
  Update Name: <%= form.text_field :name %></br>
  Update Description: <%= form.text_field :description %></br>
  Update details: <%= form.submit %>
<% end %>